<h1 class="title"><a href="/">_ARCHITEKT</a></h1>
<br>
<h2>Login</h2>

<form action="/auth/login" method="post">
  <p>
    <div>Username</div>
    <div>
      <input type="text" name="username" placeholder=":)"></label>
    </div>
  </p>
  <p>
    <div>Password</div>
    <div>
      <input type="text" name="password" placeholder=":)"></label>
    </div>
  </p>

  <p>
    <input type="submit" value="LOGIN">
  </p>
</form>
<br>