<h1 class="title"><a href="/">Memento Vitae</a></h1>
<div><a href="/auth/login">Log In</a></div>
<br>
<h2>Create Your Account</h2>

<form action="/auth/register" method="post">

  <p>
    <div>Email</div>
    <div>
      <input type="text" name="email" placeholder=":)"></label>
    </div>
  </p>
  <p>
    <div>Username</div>
    <div>
      <input type="text" name="username" placeholder=":)"></label>
    </div>
  </p>
  <p>
    <div>Password</div>
    <div>
      <input type="text" name="password" placeholder=":)"></label>
    </div>
  </p>

  <p>
    <input type="submit" value="CONTINUE">
  </p>
</form>
<br>
<p>
  <a href="/">Back</a>
</p>