<h2>Add Photo</h2>

<form action="/gallery/new" method="post">

    <p><span>Author:&nbsp;</span><input type="text" name="author" value="" required></p>
    <p><span>Link:&nbsp;</span><input type="text" name="link" value="" required></p>
    <p><span>Description:&nbsp;</span><input type="text" name="description" value="" required></p>

    <br>

    <input class="h2link" type="submit" value="SUBMIT">

</form>

<br>