<br>
<form class="padding" action="" method="get">
  <button type="submit" formaction="/" value="Home">Home</button>
  <button type="submit" formaction="javascript:history.go(-1)" value="Back">Back</button>
</form>