<h1>temp: logged in homepage</h1>

<div id="header">
  <h1 class='logo'>Memento Vitae</h1>
  <br>
  <br>
  <div class='bio'> 
    <p>Welcome to our online portfolio, we are small group of passionate designers and architects, </p>
    <p>looking
    to
    change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect
    WordPress Theme</p>
     </div>
</div>
<p>
  <a href="/auth/logout">Log Out</a>
  <br>
  <a href="/new">Add Project</a>
</p>
{{#each galleryItem}}
<div>
  <a href="/gallery/{{ id }}"><img class='homeImage' src="{{ image_url }}" alt="No Image">
    <p> {{ title }}</p>
  </a>

</div>
<br>
<br>
{{/each}}