{{!-- <h1>temp: this should be static homepage</h1> --}}
<div id="homeHeader">
  <h1 class='logo'>Memento Vitae</h1>
  <br><br><br><br>
  <div id="headerWrapper">
      <div><a class="nav" href="/auth/login">Login</a></div>
  <div><a class="nav" href="/auth/register">Register</a></div>
    <div class='bio'> 
    <center>Welcome to our online portfolio, we are small group of passionate designers and architects, <br>looking
    to
    change and create amazing digital images to inspire others to follow in our innovative steps. 
    </div>
  </div>
</div>
<div id="bodyWrapper">
  <div id="bodyInnerWrap1">
    <div id="sunset"><p>hi</p></div>
    <div id="sunset2"></div>
  </div>
  
  <div id="bodyInnerWrap2">
    <div id="night"></div>
    <div id="night2"></div>
  </div>
</div>