  <h1 class="center">Express Gallery</h1>
  <div class="center">
    <form action="" method="get">
      <button type="submit" formaction="/photos" value="Photos">Photos</button>
    </form>  
    <ul>


</ul>

{{#each obj}}
<img src="{{link}}" alt="">

<p>
{{author}}
</p>

{{/each}}
  </div>
