  <div id="page">
  <div id="navWrapper">
  <div id="nav">
    <a class="navLink" href="/">Home</a>
    <a class="navLink" href="/about">About</a>
    <a class="navLink" href="/Mission">Mission</a>
    <a class="navLink" href="/SocialMedia">Social Media</a>
    <a class="navLink pseudoLink" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign up</a>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
      <div class="container">
  <form action="/action_page.php">
    <div class="row">
      <h2 style="text-align:center">Login with Social Media or Manually</h2>
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
        <a href="#" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
         </a>
        <a href="#" class="twitter btn">
          <i class="fa fa-twitter fa-fw"></i> Login with Twitter
        </a>
        <a href="#" class="google btn"><i class="fa fa-google fa-fw">
          </i> Login with Google+
        </a>
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>

        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
      </div>
    </div>


      </div>
<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="#" style="color:white" class="btn">Sign up</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Forgot password?</a>
    </div>
  </div>
</div>
  </div>
</div>
</div>

  <div id="login">
        <input class="loginItem" type="text" name="username" placeholder="Username" required>
        <input class="loginItem" type="password" name="password" placeholder="Password" required>
        <input class="loginItem" type="submit" value="Login">
        {{!-- <button class="loginItem" type="submit" formaction="/products" value="Products">Sign up</button> --}}
  </div>
  </div>
  <div class="header">
  <h1 class="title">_ARCHITEKT</h1>
  <hr>&nbsp;
  <p class="tagline">Welcome to our online portfolio, we are small group of </p>
  </div>



  <div id="body">
    <div id="leftModule">
      <img id="featuredImg" src="http://www.beta-architecture.com/wp-content/uploads/2011/11/0231_02.jpg" alt="">
    </div>
    <div id="imgDiv">
  {{#each obj}}
      <div>
      <img class="galleryImg" src="{{link}}" alt="">
      <p><span>Author:&nbsp;</span>{{author}}, 
      {{!-- <br><span>Body:&nbsp;</span>{{description}},  --}}
      </br></br>
      {{!-- <p><form action="" method="get">
        <input class="h2link" type="submit" formaction="/articles/{{title}}" value="VIEW">
      </form></p> --}}
  </div>
  {{/each}}    
    </div>
    </div>
    </div>


