<h1>New Project</h1>

<form action="/gallery" method="post">

  <p>
    <label for="title">
      <input type="text" name="title" placeholder="Title">
    </label>
  </p>
  <p>
    <label for="image">
      <input type="text" name="image_url" placeholder="Image source">
    </label>
  </p>
  <p>
    <label for="description">
      <input type="text" name="description" placeholder="Description">
    </label>
  </p>

  <p>
    <input type="submit" value="SUBMIT">
  </p>
</form>
<br>
<p>
  <a href="/">Back</a>
</p>